<div class="Header" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <a href="<%= CartoDB.url(self, 'root') %>">
            <span class="Logo Logo--avatar">
              <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
            </span>
          </a>
        </li>
        <li class="Header-navigationItem u-hideOnTablet">
          <div class="Header-navigationLink js-dropdown-target">SLIM Cartodb</div>
        </li>
      </ul>
    </div>

    <div class="Header-settings">
      <ul class="Header-settingsList js-user-settings">
        <li class="Header-settingsItem js-login">
          <a href="<%= login_url %>" class="Header-settingsLink">Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
